*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  grid-template-columns: 100%;

  main {
    display: grid;
    grid-template-columns: 100%;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

input,
select,
textarea,
img {
  width: 100%;
}
