.side__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;

  .side__title {
    font-weight: 500;
  }

  .list__container {
    position: fixed;
    top: 0;
    left: clamp(5rem, 5vw, 6rem);
    width: Min(75%, 40rem);
    height: 100%;
    padding: Min(5vw, 1.5rem);
    box-shadow: 0 0 10rem 1rem rgba($dark-color, 0.1);
    background-color: $light-color;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: transform 200ms ease-in-out;

    &.list__container--hidden {
      transform: translateX(-100%);
    }

    .side__header {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      gap: 1rem;

      .side__button--close {
        background-color: transparent;
        border: none;
        font-size: 150%;
        transform: rotateZ(180deg);
      }

      .side__tabs {
        grid-column-start: 1;
        grid-row: span 2;
        display: flex;
        gap: Min(3vw, 1rem);

        .side__tab {
          width: 100%;
          padding: Min(3vw, 0.5rem) Min(3vw, 0.75rem);
          background-color: transparent;
          border: none;
          border-radius: 5rem;
          box-shadow: 0 0 0 0.1rem rgba($dark-color, 0.5);
          transition: width 200ms ease-in-out;
          text-wrap: nowrap;
          font-size: 90%;

          &.side__tab--active {
            width: 300%;
            font-weight: 500;
            background-color: rgba($primary-color, 0.2);
            box-shadow: 0 0 0 0.2rem $primary-color;
          }
        }
      }

      .list__count {
        color: $secondary-color-gray-500;
      }

      .year__drpodown {
        grid-column: span 2;
        width: max-content;
        margin: 0.5rem 0;
        text-wrap: nowrap;

        .dropdown__fieldset {
          flex-direction: row;
          align-items: center;

          .form__dropdown {
            padding: 0.5rem;
          }
        }
      }
    }

    .notes__list,
    .search__list {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      overflow: auto;
      padding-right: Min(5vw, 1rem);

      .list--empty {
        display: grid;
        place-items: center;
        height: 100%;
        color: $secondary-color-gray-500;
        text-align: center;
      }

      .list__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        color: $secondary-color-gray-500;
        margin: 1rem 0;

        p {
          display: flex;
          flex-direction: column;

          span {
            font-weight: 500;
          }
        }

        .notes__btn--cancel {
          width: max-content;
          display: grid;
          grid-template-columns: auto 1fr;
          gap: Min(3vw, 1rem);
          align-items: center;
          padding: 0.5rem 1.5rem;
          background-color: transparent;
          color: $primary-color;
          border: none;
          border-radius: 0.5rem;
          box-shadow: 0 0 0 0.1rem $primary-color;
          opacity: 0.75;
        }
      }

      .note__item {
        $type: "comment";

        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: Min(5vw, 2rem) Min(5vw, 1.5rem);
        background-color: $light-color;
        border-radius: 0.5rem;
        cursor: pointer;
        box-shadow: rgba($secondary-color-gray-500, 0.15) 2.4px 2.4px 6.2px;
        transition: box-shadow 200ms ease-in-out,
          background-color 200ms ease-in-out, opacity 200ms ease-in-out,
          gap 200ms ease-in-out;

        &:hover {
          box-shadow: rgba($secondary-color-gray-500, 0.25) 2.4px 2.4px 6.2px;
        }

        &.note__item--visible {
          gap: 4rem;
          box-shadow: rgba($secondary-color-gray-500, 0.5) 2.4px 2.4px 6.2px;

          .item__img {
            width: 100%;
            max-width: 100%;
          }
        }

        &.note__item--invisible {
          opacity: 0.45;
        }

        .item__header {
          display: grid;
          grid-template-columns: auto 1fr;
          justify-items: flex-end;
          align-items: center;
          gap: 1rem;
          font-size: 95%;

          .item__type {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-weight: 500;
            text-transform: capitalize;
          }

          .item__user {
            color: $secondary-color-gray-500;

            span {
              text-decoration: underline;
              transition: color 200ms ease-in-out;

              &:hover {
                color: $dark-color;
              }
            }
          }

          .item__date {
            grid-column: span 2;
            color: $secondary-color-gray-500;
          }
        }

        .item__img {
          width: Min(100%, 7rem);
          object-fit: cover;
          border-radius: 0.25rem;
          transition: width 200ms ease-in-out;
        }

        .item__text {
          text-align: justify;
          color: $dark-color;
        }

        footer {
          display: flex;
          justify-content: flex-end;

          .item__btn {
            width: 100%;
            padding: 0.5rem 1rem;
            background-color: transparent;
            border: none;
            border-radius: 0.5rem;
            text-transform: capitalize;
            transition: background-color 200ms ease-in-out;

            // &.item__btn--discard {
            //   color: rgba($secondary-color-red, 0.85);
            //   box-shadow: 0 0 0 0.1rem rgba($secondary-color-red, 0.85);

            //   &:hover {
            //     background-color: rgba($secondary-color-red, 0.05);
            //   }
            // }

            &.item__btn--approve {
              width: 55%;
              color: rgba($secondary-color-green, 0.85);
              box-shadow: 0 0 0 0.1rem rgba($secondary-color-green, 0.85);

              &:hover {
                background-color: rgba($secondary-color-green, 0.05);
              }
            }
          }
        }

        .item__status {
          display: flex;
          align-items: center;
          justify-content: right;
          gap: 0.5rem;
          font-weight: 500;
          color: $secondary-color-green;
        }
      }

      @include note-type("comment");
      @include note-type("tip");
      @include note-type("report");
    }
  }
}
