.dropdown__fieldset {
  .form__dropdown {
    font-size: 100%;
    padding: 1rem;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 0.1rem $secondary-color-gray-500;
    color: $secondary-color-gray-500;
    text-transform: capitalize;
    cursor: pointer;
    transition: box-shadow 100ms ease-in-out;

    .form__option {
      padding: 1rem;
      text-transform: capitalize;
    }
  }

  &:focus-within {
    .form__label {
      color: $primary-color;
    }

    .form__dropdown {
      outline: 0;
      box-shadow: 0 0 0 0.15rem $primary-color;
      color: $primary-color;

      option {
        color: $secondary-color-gray-500;
      }
    }
  }
}
